/* CSS Variables & Reset */
:root {
  --bg-color: #14120B;
  --text-primary: #ffffff;
  --text-secondary: #000000;
  --accent-color: #ffffff;
  --border-color: #808080;
  --font-sans: "Geist", "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: var(--font-sans);
  line-height: 1.5;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: auto;
  position: fixed;
  margin-left: 77px;
  background-color: var(--bg-color);
  background: var(--bg-color);
  z-index: 1000;
}

.logo {
  padding: 8px;
  margin-left: 2px;
}

.logo img {
  width: 100px;
  height: 40px;
  filter: brightness(0) invert(1);
}

.nav-links {
  display: flex;
  gap: 24px;
  margin-left: 15px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 14px;
  font-weight: lighter;
}

.btn-signin {
  background-color: var(--bg-color);
  color: var(--accent-color);
  border-radius: 34px;
  border: 0.5px solid var(--border-color);
  padding: 6px 12px;
  margin-right: 10px;
}

.btn-download {
  background-color: var(--accent-color);
  color: var(--text-secondary);
  border-radius: 34px;
  border: 0.5px solid var(--accent-color);
  padding: 6px 12px;
  margin-right: 10px;
}

/* main section */
.hero {
  padding: 112px;
}

.text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.text h1 {
  font-family: var(--font-sans);
  font-size: 26px;
  font-weight: lighter;
  margin: 0px 0px 22.4px;
  margin-top: 100px;
}

#download-for-macos {
  background-color: var(--text-primary);
  padding: 6px 21px;
  color: var(--text-secondary);
  font-size: 15px;
  font-weight: lighter;
  border-radius: 34px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 0px;
}

.icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  font-weight: lighter;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#background {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  width: 90%;
  margin-left: 40px;
  border-radius: 10px;
  height: 100%;
}


#heading2 {
  font-size: 13.125px;
  font-weight: lighter;
  font-family: var(--font-sans);
  text-align: center;
  color: #A1A1AA;
  margin-bottom: 30px;
}

.trusted-companies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding: 0 20px;
  margin-bottom: 100px;
}

.company-logo {
  background-color: #1C1C1C;
  border: 1px solid var(--bg-color);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 153px;
  height: 100px;
  padding: 0;
}

.company-logo img {
  height: 38px;
  width: auto;
  opacity: 0.8;
  filter: brightness(0) invert(1);
  max-width: 80%;
}

.learn-agentic-development {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  width: 90%;
  background-color: #1b1913;
  margin-left: 70px;
  margin-bottom: 100px;
}

.learn-agentic-development-left {
  padding: 10px;
  margin: 204px 10px;
  font-size: 22px;
  width: 50%;
  font-weight: lighter;
  font-family: var(--font-sans);
  color: #ede5e5;
}

.learn-agentic-development-left h3 {
  color: #f3eded;
  font-weight: normal;
}

.learn-agentic-development-left p {
  margin: 0px 0px;
  font-size: 20px;
}

.learn-agentic-development-left a {
  text-decoration: none;
  color: #f54e00;
  margin: 0px 0px;
  font-size: 18px;
}

#arrow {
  width: 20px;
  height: 20px;
}

.learn-agentic-development-right {
  position: relative;
  width: 100%;
  height: 100%;

}

#background2 {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: block;
}

#overlay2 {
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 100;
  width: 90%;
  margin-left: 20px;
  border-radius: 10px;
  height: 100%;
  border-radius: 10px;
  padding-bottom: 40px;
}

.learn-about-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 90%;
  min-height: 700px;
  background-color: #1b1913;
  margin-left: 70px;
  margin-bottom: 100px;
}

.learn-about-tab-left {
  position: sticky;
  min-height: 500px;
  width: 60%;
  padding: 10px;
}

.learn-about-tab-right {
  padding: 10px 40px;
  font-size: 22px;
  width: 40%;
  font-weight: lighter;
  font-family: var(--font-sans);
  color: #ede5e5;
}
.learn-about-tab-right p {
  color: #e5d9d9;
  font-weight: lighter;
  font-size: 22px;
}
.learn-about-tab-right a {
  text-decoration: none;
  color: #f54e00;
  margin: 0px 0px;
  font-size: 18px;
}

#learn_about_tab_background {
  width: 100%;
  height: 120%;
  padding: 10px;
  border-radius: 5px;
  display: block;
  position: absolute;
  padding-bottom: 60px;
  top: 0;
  left: 0;
}

#learn_about_tab_overlay {
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 100;
  width: 90%;
  margin-left: 20px;
  border-radius: 10px;
  height: 100%;
  border-radius: 10px;
  padding-bottom: 40px;
}

.learn-about-cursor-surface {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  width: 90%;
  background-color: #1b1913;
  margin-left: 70px;
  margin-bottom: 100px;
}

.learn-about-cursor-surface-left {
  padding: 10px;
  margin: 204px 10px;
  font-size: 22px;
  width: 50%;
  font-weight: lighter;
  font-family: var(--font-sans);
  color: #ede5e5;
}

.learn-about-cursor-surface-left h3 {
  color: #f3eded;
  font-weight: normal;
}

.learn-about-cursor-surface-left p {
  margin: 0px 0px;
  font-size: 20px;
}

.learn-about-cursor-surface-left a {
  text-decoration: none;
  color: #f54e00;
  margin: 0px 0px;
  font-size: 18px;
}

.learn-about-cursor-surface-right {
  position: relative;
  width: 100%;
  height: 100%;
}

#background3 {
  width: 100%;
  height: 150%;
  border-radius: 5px;
  display: block;
}
 
#overlay3 {
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 100;
  width: 90%;
  margin-left: 20px;
  border-radius: 10px;
  height: 100%;
  border-radius: 10px;
  padding-bottom: 40px;
}